.input-block {
    padding: 1rem;
    display: inline-block;
}

.padding-small {
    margin: 2px;
    border-radius;
}

.remove_button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
