<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            var addButton = $('.add_button');
            var wrapper = $('.field_wrapper');
            var fieldHTML = '<div class="form-group"><div class="input-group w-75 my-1 mr-1"><input type="text" name="textbox[]" class="form-control" placeholder="Enter location"><div class="input-group-append"><a href="javascript:void(0);" class="remove_button btn btn-danger">Remove</a></div></div></div>';
            $(addButton).click(function () {
                $(wrapper).append(fieldHTML);
            });
            $(wrapper).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).closest('.form-group').remove();
            });
        });
    </script>
</head>


<body>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-8">
                <iframe width="100%" height="100%" frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/directions?key={{ GMAPS_API_KEY
                }}&origin={{ origin }}&waypoints={{ waypoints }}&destination={{ destination }}" allowfullscreen>
                </iframe>
            </div>
            <div class="col-4">
                <div class="row pt-4 input-block">
                    <h3>Locations</h3>
                    <form action="/" method="POST">
                        Optimize for
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="to_optimize_distance" name="to_optimize" checked="true">
                            <label for="to_optimize_distance">Distance</label><br />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="to_optimize_time" name="to_optimize">
                            <label for="to_optimize_time">Time</label>
                        </div>
                        <div class="field_wrapper">
                            <div class="form-group">
                                <div class="input-group w-75 my-1 mr-1">
                                    <input type="text" name="textbox[]" class="form-control"
                                        placeholder="Enter location" required>
                                </div>
                                <div class="input-group w-75 my-1">
                                    <input type="text" name="textbox[]" class="form-control"
                                        placeholder="Enter location" required>
                                </div>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <a href="javascript:void(0);" class="add_button btn btn-primary">Add</a>
                            <input type="submit" class="btn btn-success" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 mt-5">
                        {% for loc in min_path %}
                        {{ loc }} <br />
                        {% if loop.index != min_path|length %}
                        ↓<br />
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-5">
                        {% if min_distance is not none %}
                        Optimal distance = {{ min_distance }} m<br />
                        {% endif %}
                        {% if min_time is not none %}
                        Optimal time = {{ min_time }} s
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
